html {
    background-color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h1  {
    color: #4d8b31;
    background-color: #FFC800;
    border-radius: 50px;
    text-align: center;
    font-size: 76px;
    font-style: italic;
    margin: 0%;
}

ul, a  {
    color: #4d8b31;
}

